@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: "Poppins", san-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.TextField {
  max-width: 300px;
  width: 90vw;
}

.button {
  display: none;  
}